#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* делаем label flex */
li label {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* время: маленькое, серое и справа */
li label .created {
  margin-left: auto;
  font-size: 12px;
  color: #9e9e9e;
  white-space: nowrap;
}
