html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner {
  border: none;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #111111;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
}

.todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 25px 50px rgba(0,0,0,.1);
}

.todoapp h1 {
  position: absolute;
  top: -140px;
  width: 100%;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: rgba(175,47,47,.15);
}

.new-todo,
.edit {
  width: 100%;
  font-size: 24px;
  padding: 6px;
  border: 1px solid #999;
  box-sizing: border-box;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todo-list li .toggle {
  opacity: 0;
}

.todo-list li label {
  display: flex;
  justify-content: space-between;
  padding: 15px 85px 15px 60px;
}

.todo-list li .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  color: #cc9a9a;
}

.todo-list li .icon-destroy {
  right: 10px;
}

.todo-list li .icon-destroy:after {
  content: '×';
}

.todo-list li .icon-edit {
  right: 45px;
  font-size: 18px;
}

.todo-list li .icon-edit:after {
  content: '✎';
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 1px solid #e6e6e6;
  color: gray;
}

.filters button,
.clear-completed {
  color: #4d4d4d;
}

.filters {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters li {
  display: inline-block;
}

.filters li button {
  padding: 3px 7px;
  border-radius: 3px;
}

.filters li button.selected {
  border: 1px solid rgba(175,47,47,.2);
}

.clear-completed {
  cursor: pointer;
}
